<a href="https://colab.research.google.com/github/minhnhat232k/Bigdata/blob/main/Assignment2_Bigdata_q4_new.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark==3.0.1

Collecting pyspark==3.0.1
  Downloading pyspark-3.0.1.tar.gz (204.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 204.2/204.2 MB 6.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9 (from pyspark==3.0.1)
  Downloading py4j-0.10.9-py2.py3-none-any.whl (198 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 198.6/198.6 kB 18.7 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.0.1-py2.py3-none-any.whl size=204612226 sha256=ec027e081d3f9de6966d19010eb018c4268b3b391e3a492c673dcaa7a0813c98
  Stored in directory: /root/.cache/pip/wheels/19/b0/c8/6cb894117070e130fc44352c2a13f15b6c27e440d04a84fb48
Successfully built pyspark
Installing collected packages: py4j, pyspark
  Attempting uninstall: py4j
    Found existing installation: py4j 0.10.9.7
    Uninstalling py4j-0.10.9.7:
      Successfully uninstalled py4j-0.10.9.7
Successfully installed py4j-0.10.9 pyspark-3.0.1

In [2]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import functions as f
from pyspark.sql.types import IntegerType,BooleanType,DateType

In [3]:
from google.colab import drive
drive.mount('/content/gdrive')
spark = SparkSession.builder.getOrCreate()
ratingsDF = spark.read.options(header='True', inferSchema='True', delimiter=',').csv("/content/gdrive/MyDrive/Bigdata-Pyspark-Dataset/Assignment2/ratings_small.csv")
moviesDF = spark.read.options(header='True', inferSchema='True', delimiter=',').csv("/content/gdrive/MyDrive/Bigdata-Pyspark-Dataset/Assignment2/movies_small.csv")

Mounted at /content/gdrive

In [5]:
ratingsDF.show(5)
moviesDF.show(5)

+------+-------+------+---------+
|userId|movieId|rating|timestamp|
+------+-------+------+---------+
|     1|      1|   4.0|964982703|
|     1|      3|   4.0|964981247|
|     1|      6|   4.0|964982224|
|     1|     47|   5.0|964983815|
|     1|     50|   5.0|964982931|
+------+-------+------+---------+
only showing top 5 rows

+-------+--------------------+--------------------+
|movieId|               title|              genres|
+-------+--------------------+--------------------+
|      1|    Toy Story (1995)|Adventure|Animati...|
|      2|      Jumanji (1995)|Adventure|Childre...|
|      3|Grumpier Old Men ...|      Comedy|Romance|
|      4|Waiting to Exhale...|Comedy|Drama|Romance|
|      5|Father of the Bri...|              Comedy|
+-------+--------------------+--------------------+
only showing top 5 rows

In [6]:
moviesDF = moviesDF.withColumn("Year", f.col("title").substr(-6, 6))
moviesDF = moviesDF.withColumn("Year", f.regexp_replace(f.col("Year"), r"\(|\)", ""))
moviesDF.show()

+-------+--------------------+--------------------+----+
|movieId|               title|              genres|Year|
+-------+--------------------+--------------------+----+
|      1|    Toy Story (1995)|Adventure|Animati...|1995|
|      2|      Jumanji (1995)|Adventure|Childre...|1995|
|      3|Grumpier Old Men ...|      Comedy|Romance|1995|
|      4|Waiting to Exhale...|Comedy|Drama|Romance|1995|
|      5|Father of the Bri...|              Comedy|1995|
|      6|         Heat (1995)|Action|Crime|Thri...|1995|
|      7|      Sabrina (1995)|      Comedy|Romance|1995|
|      8| Tom and Huck (1995)|  Adventure|Children|1995|
|      9| Sudden Death (1995)|              Action|1995|
|     10|    GoldenEye (1995)|Action|Adventure|...|1995|
|     11|American Presiden...|Comedy|Drama|Romance|1995|
|     12|Dracula: Dead and...|       Comedy|Horror|1995|
|     13|        Balto (1995)|Adventure|Animati...|1995|
|     14|        Nixon (1995)|               Drama|1995|
|     15|Cutthroat Island ...|Action|Adventure|...|1995|
|     16|       Casino (1995)|         Crime|Drama|1995|
|     17|Sense and Sensibi...|       Drama|Romance|1995|
|     18|   Four Rooms (1995)|              Comedy|1995|
|     19|Ace Ventura: When...|              Comedy|1995|
|     20|  Money Train (1995)|Action|Comedy|Cri...|1995|
+-------+--------------------+--------------------+----+
only showing top 20 rows

In [7]:
ratingsDFLeftJoin = ratingsDF.join(moviesDF, on=["movieId"], how="Left")

In [8]:
ratingsDFLeftJoin.sort("movieId").show()

+-------+------+------+----------+----------------+--------------------+----+
|movieId|userId|rating| timestamp|           title|              genres|Year|
+-------+------+------+----------+----------------+--------------------+----+
|      1|    57|   5.0| 965796031|Toy Story (1995)|Adventure|Animati...|1995|
|      1|   119|   3.5|1435942468|Toy Story (1995)|Adventure|Animati...|1995|
|      1|    63|   5.0|1443199669|Toy Story (1995)|Adventure|Animati...|1995|
|      1|    54|   3.0| 830247330|Toy Story (1995)|Adventure|Animati...|1995|
|      1|    64|   4.0|1161520134|Toy Story (1995)|Adventure|Animati...|1995|
|      1|     7|   4.5|1106635946|Toy Story (1995)|Adventure|Animati...|1995|
|      1|    66|   4.0|1104643957|Toy Story (1995)|Adventure|Animati...|1995|
|      1|    17|   4.5|1305696483|Toy Story (1995)|Adventure|Animati...|1995|
|      1|    68|   2.5|1158531426|Toy Story (1995)|Adventure|Animati...|1995|
|      1|    19|   4.0| 965705637|Toy Story (1995)|Adventure|Animati...|1995|
|      1|    71|   5.0| 864737933|Toy Story (1995)|Adventure|Animati...|1995|
|      1|     5|   4.0| 847434962|Toy Story (1995)|Adventure|Animati...|1995|
|      1|    73|   4.5|1464196374|Toy Story (1995)|Adventure|Animati...|1995|
|      1|    32|   3.0| 856736119|Toy Story (1995)|Adventure|Animati...|1995|
|      1|    76|   0.5|1439165548|Toy Story (1995)|Adventure|Animati...|1995|
|      1|    40|   5.0| 832058959|Toy Story (1995)|Adventure|Animati...|1995|
|      1|    78|   4.0|1252575124|Toy Story (1995)|Adventure|Animati...|1995|
|      1|    44|   3.0| 869251860|Toy Story (1995)|Adventure|Animati...|1995|
|      1|    82|   2.5|1084467729|Toy Story (1995)|Adventure|Animati...|1995|
|      1|    46|   5.0| 834787906|Toy Story (1995)|Adventure|Animati...|1995|
+-------+------+------+----------+----------------+--------------------+----+
only showing top 20 rows

In [9]:
ratingsDFResult = ratingsDFLeftJoin.groupBy("movieId").agg(f.count("rating"))
ratingsDFResult.show(5)

+-------+-------------+
|movieId|count(rating)|
+-------+-------------+
|   1580|          165|
|   2366|           25|
|   3175|           75|
|   1088|           42|
|  32460|            4|
+-------+-------------+
only showing top 5 rows

In [10]:
ratingsDFResultAvgRating = ratingsDFLeftJoin.groupBy("movieId").agg(f.avg("rating"))
ratingsDFResultAvgRating.show(5)

+-------+-----------------+
|movieId|      avg(rating)|
+-------+-----------------+
|   1580|3.487878787878788|
|   2366|             3.64|
|   3175|             3.58|
|   1088|3.369047619047619|
|  32460|             4.25|
+-------+-----------------+
only showing top 5 rows

In [11]:
q4Result = ratingsDFResult.join(ratingsDFResultAvgRating, on=["movieId"], how="inner")
q4Result.show(5)

+-------+-------------+-----------------+
|movieId|count(rating)|      avg(rating)|
+-------+-------------+-----------------+
|    148|            1|              5.0|
|    471|           40|             3.55|
|    496|            1|              5.0|
|    833|            6|              2.0|
|   1088|           42|3.369047619047619|
+-------+-------------+-----------------+
only showing top 5 rows

In [12]:
q4Result = q4Result.join(moviesDF, on=["movieId"], how="left")
q4Result.show(20)

+-------+-------------+------------------+--------------------+--------------------+----+
|movieId|count(rating)|       avg(rating)|               title|              genres|Year|
+-------+-------------+------------------+--------------------+--------------------+----+
|    148|            1|               5.0|Awfully Big Adven...|               Drama|1995|
|    471|           40|              3.55|Hudsucker Proxy, ...|              Comedy|1994|
|    496|            1|               5.0|What Happened Was...|Comedy|Drama|Roma...|1994|
|    833|            6|               2.0|High School High ...|              Comedy|1996|
|   1088|           42| 3.369047619047619|Dirty Dancing (1987)|Drama|Musical|Rom...|1987|
|   1238|            9| 4.055555555555555|   Local Hero (1983)|              Comedy|1983|
|   1342|           11|               2.5|     Candyman (1992)|     Horror|Thriller|1992|
|   1580|          165| 3.487878787878788|Men in Black (a.k...|Action|Comedy|Sci-Fi|1997|
|   1591|           26|2.6346153846153846|        Spawn (1997)|Action|Adventure|...|1997|
|   1645|           51| 3.411764705882353|The Devil's Advoc...|Drama|Mystery|Thr...|1997|
|   1829|            2|              3.25|  Chinese Box (1997)|       Drama|Romance|1997|
|   1959|           15|3.6666666666666665|Out of Africa (1985)|       Drama|Romance|1985|
|   2122|           11|2.4545454545454546|Children of the C...|     Horror|Thriller|1984|
|   2142|           10|               2.7|American Tail: Fi...|Adventure|Animati...|1991|
|   2366|           25|              3.64|    King Kong (1933)|Action|Adventure|...|1933|
|   2659|            1|               2.0|It Came from Holl...|  Comedy|Documentary|1982|
|   2866|            5|               3.6|Buddy Holly Story...|               Drama|1978|
|   3175|           75|              3.58| Galaxy Quest (1999)|Adventure|Comedy|...|1999|
|   3794|            2|               2.5| Chuck & Buck (2000)|        Comedy|Drama|2000|
|   3918|            9|3.2777777777777777|Hellbound: Hellra...|              Horror|1988|
+-------+-------------+------------------+--------------------+--------------------+----+
only showing top 20 rows

In [13]:
q4Result = q4Result.select("Year", "title", "count(rating)", "avg(rating)")

In [14]:
q4Result.show(20)

+----+--------------------+-------------+------------------+
|Year|               title|count(rating)|       avg(rating)|
+----+--------------------+-------------+------------------+
|1995|Awfully Big Adven...|            1|               5.0|
|1994|Hudsucker Proxy, ...|           40|              3.55|
|1994|What Happened Was...|            1|               5.0|
|1996|High School High ...|            6|               2.0|
|1987|Dirty Dancing (1987)|           42| 3.369047619047619|
|1983|   Local Hero (1983)|            9| 4.055555555555555|
|1992|     Candyman (1992)|           11|               2.5|
|1997|Men in Black (a.k...|          165| 3.487878787878788|
|1997|        Spawn (1997)|           26|2.6346153846153846|
|1997|The Devil's Advoc...|           51| 3.411764705882353|
|1997|  Chinese Box (1997)|            2|              3.25|
|1985|Out of Africa (1985)|           15|3.6666666666666665|
|1984|Children of the C...|           11|2.4545454545454546|
|1991|American Tail: Fi...|           10|               2.7|
|1933|    King Kong (1933)|           25|              3.64|
|1982|It Came from Holl...|            1|               2.0|
|1978|Buddy Holly Story...|            5|               3.6|
|1999| Galaxy Quest (1999)|           75|              3.58|
|2000| Chuck & Buck (2000)|            2|               2.5|
|1988|Hellbound: Hellra...|            9|3.2777777777777777|
+----+--------------------+-------------+------------------+
only showing top 20 rows

In [15]:
q4Result = q4Result.withColumnRenamed("title","Movie_name")
q4Result = q4Result.withColumnRenamed("count(rating)","Num_rating")
q4Result = q4Result.withColumnRenamed("avg(rating)","Average_rating")

In [16]:
q4Result.orderBy('year', 'Movie_name').show(100)

+----+--------------------+----------+------------------+
|Year|          Movie_name|Num_rating|    Average_rating|
+----+--------------------+----------+------------------+
|1902|Trip to the Moon,...|         5|               3.5|
|1903|The Great Train R...|         2|               2.5|
|1908|The Electric Hote...|         1|               4.0|
|1915|Birth of a Nation...|         1|               2.0|
|1916|20,000 Leagues Un...|         2|              3.75|
|1916|Intolerance: Love...|         1|               3.5|
|1916|    Rink, The (1916)|         1|               3.5|
|1916|   Snow White (1916)|         1|               3.5|
|1917|Immigrant, The (1...|         1|               4.5|
|1919|Daddy Long Legs (...|         1|               2.0|
|1920|Cabinet of Dr. Ca...|         7| 3.857142857142857|
|1920|     One Week (1920)|         1|               3.5|
|1921|     Kid, The (1921)|         5|               4.1|
|1922|Nosferatu (Nosfer...|        16|           3.53125|
|1923|Hunchback of Notr...|         1|               3.0|
|1923|Our Hospitality (...|         2|              3.25|
|1923| Safety Last! (1923)|         2|               4.0|
|1923|Woman of Paris, A...|         2|               4.0|
|1924|Aelita: The Queen...|         1|               4.5|
|1924|        Greed (1924)|         1|               4.0|
|1924|Navigator, The (1...|         1|               3.5|
|1924| Sherlock Jr. (1924)|         2|               3.0|
|1924|Thief of Bagdad, ...|         1|               3.5|
|1925|Battleship Potemk...|        10|              3.65|
|1925|Ben-Hur: A Tale o...|         1|               3.0|
|1925|Freshman, The (1925)|         1|               4.0|
|1925|Gold Rush, The (1...|         7| 4.071428571428571|
|1926|   By the Law (1926)|         1|               3.5|
|1926|        Faust (1926)|         1|               4.0|
|1926| General, The (1926)|         9|               4.0|
|1926|Secrets of a Soul...|         1|               4.5|
|1926|Son of the Sheik,...|         1|               4.0|
|1927|Cat and the Canar...|         1|               3.0|
|1927|      College (1927)|         1|               3.5|
|1927|Jazz Singer, The ...|         1|               4.0|
|1927|Lodger: A Story o...|         3|               3.5|
|1927|   Metropolis (1927)|        21| 3.857142857142857|
|1927|    Ring, The (1927)|         1|               1.0|
|1927|Sunrise: A Song o...|         1|               4.0|
|1928|  Circus, The (1928)|         4|             4.125|
|1928|Passion of Joan o...|         5|               3.9|
|1928|Steamboat Bill, J...|         1|               4.5|
|1928|Steamboat Willie ...|         3|2.3333333333333335|
|1929|Andalusian Dog, A...|         4|               4.5|
|1929|Broadway Melody, ...|         1|               3.0|
|1929|Cocoanuts, The (1...|         1|               3.5|
|1929|Man with the Movi...|         3|3.3333333333333335|
|1930|All Quiet on the ...|        10|              4.35|
|1930|Animal Crackers (...|         4|             4.125|
|1930|Anna Christie (1930)|         1|               3.5|
|1930|Blue Angel, The (...|         1|               4.0|
|1930|Divorcee, The (1930)|         1|               4.0|
|1931|     Cimarron (1931)|         1|               3.5|
|1931|  City Lights (1931)|        13|3.8461538461538463|
|1931|Dr. Jekyll and Mr...|         2|               2.0|
|1931|      Dracula (1931)|         9|3.3333333333333335|
|1931| Frankenstein (1931)|        11| 3.909090909090909|
|1931|Front Page, The (...|         1|               3.5|
|1931|Girls About Town ...|         1|               5.0|
|1931|     Iron Man (1931)|         1|               0.5|
|1931|Little Caesar (1931)|         1|               4.0|
|1931|            M (1931)|        15|3.7333333333333334|
|1931|Maidens in Unifor...|         1|               3.5|
|1931|Maltese Falcon, T...|        17|3.6176470588235294|
|1931|Public Enemy, The...|         2|              4.25|
|1931|À nous la liberté...|         1|               1.0|
|1932|Boudu Saved From ...|         1|               0.5|
|1932|Farewell to Arms,...|         1|               3.0|
|1932|       Freaks (1932)|         9|3.1666666666666665|
|1932|  Grand Hotel (1932)|         2|               4.0|
|1932|Horse Feathers (1...|         2|               4.0|
|1932|I Am a Fugitive f...|         3|3.6666666666666665|
|1932|   Mummy, The (1932)|         3|3.3333333333333335|
|1932|     Scarface (1932)|         2|              3.75|
|1932|Trouble in Paradi...|         1|               3.5|
|1933|  42nd Street (1933)|         3|               4.0|
|1933|Alice in Wonderla...|         1|               4.0|
|1933|Dinner at Eight (...|         1|               3.5|
|1933|    Duck Soup (1933)|        23|3.8043478260869565|
|1933|Flying Down to Ri...|         1|               3.0|
|1933|Gold Diggers of 1...|         1|               3.5|
|1933|Invisible Man, Th...|         2|               3.5|
|1933|    King Kong (1933)|        25|              3.64|
|1933| Little Women (1933)|         5|               4.0|
|1933|Sons of the Deser...|         1|               3.0|
|1933|Testament of Dr. ...|         1|               4.0|
|1933|Zero de conduite ...|         1|               4.0|
|1934| Atalante, L' (1934)|         1|               4.5|
|1934|Babes in Toyland ...|         1|               5.0|
|1934|     Chapayev (1934)|         1|               4.5|
|1934|Gay Divorcee, The...|         2|               3.5|
|1934|It Happened One N...|        14| 4.321428571428571|
|1934|Man Who Knew Too ...|         3|3.6666666666666665|
|1934|  Man of Aran (1934)|         1|               3.5|
|1934|Of Human Bondage ...|         1|               3.5|
|1934|Thin Man, The (1934)|         7| 3.857142857142857|
|1934|Triumph of the Wi...|         3| 4.166666666666667|
|1935|39 Steps, The (1935)|        11| 4.045454545454546|
|1935|  Alice Adams (1935)|         1|               3.5|
|1935|Anna Karenina (1935)|         2|               3.5|
+----+--------------------+----------+------------------+
only showing top 100 rows