<a href="https://colab.research.google.com/github/minhnhat232k/Bigdata/blob/main/Assignment2_Bigdata_q4_new.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark==3.0.1

Collecting pyspark==3.0.1
  Downloading pyspark-3.0.1.tar.gz (204.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 204.2/204.2 MB 2.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9 (from pyspark==3.0.1)
  Downloading py4j-0.10.9-py2.py3-none-any.whl (198 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 198.6/198.6 kB 8.4 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.0.1-py2.py3-none-any.whl size=204612226 sha256=7679417e0278e8dd0962f15aaa7f196020a294607d8628f6832bb01a6abc496b
  Stored in directory: /root/.cache/pip/wheels/19/b0/c8/6cb894117070e130fc44352c2a13f15b6c27e440d04a84fb48
Successfully built pyspark
Installing collected packages: py4j, pyspark
  Attempting uninstall: py4j
    Found existing installation: py4j 0.10.9.7
    Uninstalling py4j-0.10.9.7:
      Successfully uninstalled py4j-0.10.9.7
Successfully installed py4j-0.10.9 pyspark-3.0.1

In [2]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import functions as f
from pyspark.sql.types import IntegerType,BooleanType,DateType

In [3]:
from google.colab import drive
drive.mount('/content/gdrive')
spark = SparkSession.builder.getOrCreate()
ratingsDF = spark.read.options(header='True', inferSchema='True', delimiter=',').csv("/content/gdrive/MyDrive/Bigdata-Pyspark-Dataset/Assignment2/ratings_small.csv")
moviesDF = spark.read.options(header='True', inferSchema='True', delimiter=',').csv("/content/gdrive/MyDrive/Bigdata-Pyspark-Dataset/Assignment2/movies_small.csv")

Mounted at /content/gdrive

In [4]:
ratingsDF.show(5)
moviesDF.show(5)

+------+-------+------+---------+
|userId|movieId|rating|timestamp|
+------+-------+------+---------+
|     1|      1|   4.0|964982703|
|     1|      3|   4.0|964981247|
|     1|      6|   4.0|964982224|
|     1|     47|   5.0|964983815|
|     1|     50|   5.0|964982931|
+------+-------+------+---------+
only showing top 5 rows

+-------+--------------------+--------------------+
|movieId|               title|              genres|
+-------+--------------------+--------------------+
|      1|    Toy Story (1995)|Adventure|Animati...|
|      2|      Jumanji (1995)|Adventure|Childre...|
|      3|Grumpier Old Men ...|      Comedy|Romance|
|      4|Waiting to Exhale...|Comedy|Drama|Romance|
|      5|Father of the Bri...|              Comedy|
+-------+--------------------+--------------------+
only showing top 5 rows

In [5]:
moviesDF = moviesDF.withColumn("Year", f.col("title").substr(-6, 6))
moviesDF = moviesDF.withColumn("Year", f.regexp_replace(f.col("Year"), r"\(|\)", ""))
moviesDF.show()

+-------+--------------------+--------------------+----+
|movieId|               title|              genres|Year|
+-------+--------------------+--------------------+----+
|      1|    Toy Story (1995)|Adventure|Animati...|1995|
|      2|      Jumanji (1995)|Adventure|Childre...|1995|
|      3|Grumpier Old Men ...|      Comedy|Romance|1995|
|      4|Waiting to Exhale...|Comedy|Drama|Romance|1995|
|      5|Father of the Bri...|              Comedy|1995|
|      6|         Heat (1995)|Action|Crime|Thri...|1995|
|      7|      Sabrina (1995)|      Comedy|Romance|1995|
|      8| Tom and Huck (1995)|  Adventure|Children|1995|
|      9| Sudden Death (1995)|              Action|1995|
|     10|    GoldenEye (1995)|Action|Adventure|...|1995|
|     11|American Presiden...|Comedy|Drama|Romance|1995|
|     12|Dracula: Dead and...|       Comedy|Horror|1995|
|     13|        Balto (1995)|Adventure|Animati...|1995|
|     14|        Nixon (1995)|               Drama|1995|
|     15|Cutthroat Island ...|Action|Adventure|...|1995|
|     16|       Casino (1995)|         Crime|Drama|1995|
|     17|Sense and Sensibi...|       Drama|Romance|1995|
|     18|   Four Rooms (1995)|              Comedy|1995|
|     19|Ace Ventura: When...|              Comedy|1995|
|     20|  Money Train (1995)|Action|Comedy|Cri...|1995|
+-------+--------------------+--------------------+----+
only showing top 20 rows

In [6]:
ratingsDFLeftJoin = ratingsDF.join(moviesDF, on=["movieId"], how="Left")

In [8]:
ratingsDFLeftJoin.sort("movieId").show()

+-------+------+------+----------+----------------+--------------------+----+
|movieId|userId|rating| timestamp|           title|              genres|Year|
+-------+------+------+----------+----------------+--------------------+----+
|      1|    57|   5.0| 965796031|Toy Story (1995)|Adventure|Animati...|1995|
|      1|   119|   3.5|1435942468|Toy Story (1995)|Adventure|Animati...|1995|
|      1|    63|   5.0|1443199669|Toy Story (1995)|Adventure|Animati...|1995|
|      1|    54|   3.0| 830247330|Toy Story (1995)|Adventure|Animati...|1995|
|      1|    64|   4.0|1161520134|Toy Story (1995)|Adventure|Animati...|1995|
|      1|     7|   4.5|1106635946|Toy Story (1995)|Adventure|Animati...|1995|
|      1|    66|   4.0|1104643957|Toy Story (1995)|Adventure|Animati...|1995|
|      1|    17|   4.5|1305696483|Toy Story (1995)|Adventure|Animati...|1995|
|      1|    68|   2.5|1158531426|Toy Story (1995)|Adventure|Animati...|1995|
|      1|    19|   4.0| 965705637|Toy Story (1995)|Adventure|Animati...|1995|
|      1|    71|   5.0| 864737933|Toy Story (1995)|Adventure|Animati...|1995|
|      1|     5|   4.0| 847434962|Toy Story (1995)|Adventure|Animati...|1995|
|      1|    73|   4.5|1464196374|Toy Story (1995)|Adventure|Animati...|1995|
|      1|    32|   3.0| 856736119|Toy Story (1995)|Adventure|Animati...|1995|
|      1|    76|   0.5|1439165548|Toy Story (1995)|Adventure|Animati...|1995|
|      1|    40|   5.0| 832058959|Toy Story (1995)|Adventure|Animati...|1995|
|      1|    78|   4.0|1252575124|Toy Story (1995)|Adventure|Animati...|1995|
|      1|    44|   3.0| 869251860|Toy Story (1995)|Adventure|Animati...|1995|
|      1|    82|   2.5|1084467729|Toy Story (1995)|Adventure|Animati...|1995|
|      1|    46|   5.0| 834787906|Toy Story (1995)|Adventure|Animati...|1995|
+-------+------+------+----------+----------------+--------------------+----+
only showing top 20 rows

In [38]:
ratingsDFResult = ratingsDFLeftJoin.groupBy("movieId").agg(f.count("rating"))
ratingsDFResult.show(5)

+-------+-------------+
|movieId|count(rating)|
+-------+-------------+
|   1580|          165|
|   2366|           25|
|   3175|           75|
|   1088|           42|
|  32460|            4|
+-------+-------------+
only showing top 5 rows

In [39]:
ratingsDFResultAvgRating = ratingsDFLeftJoin.groupBy("movieId").agg(f.avg("rating"))
ratingsDFResultAvgRating.show(5)

+-------+-----------------+
|movieId|      avg(rating)|
+-------+-----------------+
|   1580|3.487878787878788|
|   2366|             3.64|
|   3175|             3.58|
|   1088|3.369047619047619|
|  32460|             4.25|
+-------+-----------------+
only showing top 5 rows

In [42]:
q4Result = ratingsDFResult.join(ratingsDFResultAvgRating, on=["movieId"], how="inner")
q4Result.show(5)

+-------+-------------+-----------------+
|movieId|count(rating)|      avg(rating)|
+-------+-------------+-----------------+
|    148|            1|              5.0|
|    471|           40|             3.55|
|    496|            1|              5.0|
|    833|            6|              2.0|
|   1088|           42|3.369047619047619|
+-------+-------------+-----------------+
only showing top 5 rows

In [43]:
q4Result = q4Result.join(moviesDF, on=["movieId"], how="left")
q4Result.show(20)

+-------+-------------+------------------+--------------------+--------------------+----+
|movieId|count(rating)|       avg(rating)|               title|              genres|Year|
+-------+-------------+------------------+--------------------+--------------------+----+
|    148|            1|               5.0|Awfully Big Adven...|               Drama|1995|
|    471|           40|              3.55|Hudsucker Proxy, ...|              Comedy|1994|
|    496|            1|               5.0|What Happened Was...|Comedy|Drama|Roma...|1994|
|    833|            6|               2.0|High School High ...|              Comedy|1996|
|   1088|           42| 3.369047619047619|Dirty Dancing (1987)|Drama|Musical|Rom...|1987|
|   1238|            9| 4.055555555555555|   Local Hero (1983)|              Comedy|1983|
|   1342|           11|               2.5|     Candyman (1992)|     Horror|Thriller|1992|
|   1580|          165| 3.487878787878788|Men in Black (a.k...|Action|Comedy|Sci-Fi|1997|
|   1591|           26|2.6346153846153846|        Spawn (1997)|Action|Adventure|...|1997|
|   1645|           51| 3.411764705882353|The Devil's Advoc...|Drama|Mystery|Thr...|1997|
|   1829|            2|              3.25|  Chinese Box (1997)|       Drama|Romance|1997|
|   1959|           15|3.6666666666666665|Out of Africa (1985)|       Drama|Romance|1985|
|   2122|           11|2.4545454545454546|Children of the C...|     Horror|Thriller|1984|
|   2142|           10|               2.7|American Tail: Fi...|Adventure|Animati...|1991|
|   2366|           25|              3.64|    King Kong (1933)|Action|Adventure|...|1933|
|   2659|            1|               2.0|It Came from Holl...|  Comedy|Documentary|1982|
|   2866|            5|               3.6|Buddy Holly Story...|               Drama|1978|
|   3175|           75|              3.58| Galaxy Quest (1999)|Adventure|Comedy|...|1999|
|   3794|            2|               2.5| Chuck & Buck (2000)|        Comedy|Drama|2000|
|   3918|            9|3.2777777777777777|Hellbound: Hellra...|              Horror|1988|
+-------+-------------+------------------+--------------------+--------------------+----+
only showing top 20 rows

In [44]:
q4Result = q4Result.select("Year", "title", "count(rating)", "avg(rating)")

In [45]:
q4Result.show(20)

+----+--------------------+-------------+------------------+
|Year|               title|count(rating)|       avg(rating)|
+----+--------------------+-------------+------------------+
|1995|Awfully Big Adven...|            1|               5.0|
|1994|Hudsucker Proxy, ...|           40|              3.55|
|1994|What Happened Was...|            1|               5.0|
|1996|High School High ...|            6|               2.0|
|1987|Dirty Dancing (1987)|           42| 3.369047619047619|
|1983|   Local Hero (1983)|            9| 4.055555555555555|
|1992|     Candyman (1992)|           11|               2.5|
|1997|Men in Black (a.k...|          165| 3.487878787878788|
|1997|        Spawn (1997)|           26|2.6346153846153846|
|1997|The Devil's Advoc...|           51| 3.411764705882353|
|1997|  Chinese Box (1997)|            2|              3.25|
|1985|Out of Africa (1985)|           15|3.6666666666666665|
|1984|Children of the C...|           11|2.4545454545454546|
|1991|American Tail: Fi...|           10|               2.7|
|1933|    King Kong (1933)|           25|              3.64|
|1982|It Came from Holl...|            1|               2.0|
|1978|Buddy Holly Story...|            5|               3.6|
|1999| Galaxy Quest (1999)|           75|              3.58|
|2000| Chuck & Buck (2000)|            2|               2.5|
|1988|Hellbound: Hellra...|            9|3.2777777777777777|
+----+--------------------+-------------+------------------+
only showing top 20 rows

In [46]:
q4Result = q4Result.withColumnRenamed("title","Movie_name")
q4Result = q4Result.withColumnRenamed("count(rating)","Num_rating")
q4Result = q4Result.withColumnRenamed("avg(rating)","Average_rating")

In [47]:
q4Result.show(100)

+----+--------------------+----------+------------------+
|Year|          Movie_name|Num_rating|    Average_rating|
+----+--------------------+----------+------------------+
|1995|Awfully Big Adven...|         1|               5.0|
|1994|Hudsucker Proxy, ...|        40|              3.55|
|1994|What Happened Was...|         1|               5.0|
|1996|High School High ...|         6|               2.0|
|1987|Dirty Dancing (1987)|        42| 3.369047619047619|
|1983|   Local Hero (1983)|         9| 4.055555555555555|
|1992|     Candyman (1992)|        11|               2.5|
|1997|Men in Black (a.k...|       165| 3.487878787878788|
|1997|        Spawn (1997)|        26|2.6346153846153846|
|1997|The Devil's Advoc...|        51| 3.411764705882353|
|1997|  Chinese Box (1997)|         2|              3.25|
|1985|Out of Africa (1985)|        15|3.6666666666666665|
|1984|Children of the C...|        11|2.4545454545454546|
|1991|American Tail: Fi...|        10|               2.7|
|1933|    King Kong (1933)|        25|              3.64|
|1982|It Came from Holl...|         1|               2.0|
|1978|Buddy Holly Story...|         5|               3.6|
|1999| Galaxy Quest (1999)|        75|              3.58|
|2000| Chuck & Buck (2000)|         2|               2.5|
|1988|Hellbound: Hellra...|         9|3.2777777777777777|
|2000|Dungeons & Dragon...|        12|1.8333333333333333|
|1988|Land Before Time,...|         9|3.3333333333333335|
|2001| Extreme Days (2001)|         1|               2.0|
|2001|     Out Cold (2001)|         5|               3.0|
|1971|Big Doll House, T...|         1|               2.5|
|1957| 3:10 to Yuma (1957)|         1|               4.0|
|2002|        I Spy (2002)|         7|               2.5|
|2002|Marooned in Iraq ...|         1|               3.0|
|1956| High Society (1956)|         2|               3.0|
|1991|Mississippi Masal...|         3|               3.5|
|2003|American Splendor...|        18|3.8333333333333335|
|1963|Atragon (Kaitei G...|         1|               3.5|
|1979|           10 (1979)|         4|             3.375|
|1985|Just One of the G...|         4|              2.75|
|1941|Shadow of the Thi...|         1|               3.5|
|2003|Tale of Two Siste...|         4|              3.25|
|1959|Bucket Of Blood, ...|         1|               2.5|
|2004|Before Sunset (2004)|        15|               3.7|
|1994|   Chase, The (1994)|         1|               2.0|
|1997|Knockin' on Heave...|         4|              4.25|
|2005|Just Like Heaven ...|         8|            2.6875|
|2006|Ice Age 2: The Me...|        23| 3.217391304347826|
|2007|Across the Univer...|        11| 4.045454545454546|
|2009|     17 Again (2009)|        10|              3.55|
|2009|Bone Man, The (De...|         1|               4.5|
|2011|Girl Walks Into a...|         1|               4.5|
|2012|Searching for Sug...|         4|              4.25|
|2014| Before We Go (2014)|         1|               3.5|
|1908|The Electric Hote...|         1|               4.0|
|2015|  Suffragette (2015)|         1|               2.5|
|2003|     Sky High (2003)|         1|               2.0|
|2015|  Moonwalkers (2015)|         1|               2.5|
|2007| Genius Party (2007)|         1|               3.0|
|2016|The Legend of Tar...|         6|3.0833333333333335|
|2016|Underworld: Blood...|         1|               3.0|
|2017|The Dark Tower (2...|         1|               3.5|
|2017|      Creep 2 (2017)|         1|               1.5|
|1995|        Gordy (1995)|         1|               3.0|
|1993|       Sliver (1993)|        18|2.6666666666666665|
|1996|    Barb Wire (1996)|        20|              2.65|
|1972|Godfather, The (1...|       192|         4.2890625|
|1943|For Whom the Bell...|         2|              3.75|
|1963|Sword in the Ston...|        25|              3.58|
|1967|Bonnie and Clyde ...|        35| 4.071428571428571|
|1989|   Abyss, The (1989)|        62| 3.475806451612903|
|1987|      Tin Men (1987)|         5|               3.0|
|1997|That Darn Cat (1997)|         2|              3.25|
|1996|        Crash (1996)|        11| 3.090909090909091|
|1997|Paradise Road (1997)|         1|               3.5|
|1997|      Titanic (1997)|       140| 3.414285714285714|
|1992|Prom Night IV: De...|         1|               4.0|
|1998|Very Bad Things (...|        16|            3.4375|
|1998|Dangerous Beauty ...|         3| 4.166666666666667|
|1999|           Go (1999)|        39|3.9615384615384617|
|1999|Angela's Ashes (1...|         3|3.3333333333333335|
|1951|Place in the Sun,...|         2|               4.5|
|1987|Running Man, The ...|        34|3.2205882352941178|
|2001|   Monkeybone (2001)|         6|2.0833333333333335|
|2001| Mexican, The (2001)|        23| 3.347826086956522|
|1960| Elmer Gantry (1960)|         2|               4.0|
|1985|Girls Just Want t...|         3|3.3333333333333335|
|1982|     Toy, The (1982)|         4|             2.375|
|2001|His Secret Life (...|         1|               4.5|
|2003|Triplets of Belle...|        22|3.7045454545454546|
|1967|Fearless Vampire ...|         3|3.6666666666666665|
|2006|Running Scared (2...|         5|               3.3|
|2005|Protector, The (a...|         1|               3.0|
|2006|Prestige, The (2006)|        90|4.0055555555555555|
|2006|It's a Boy Girl T...|         2|               1.0|
|2007| Dead Silence (2007)|         2|              3.25|
|2007|P.S. I Love You (...|        11| 3.090909090909091|
|2008|Hurt Locker, The ...|        34|4.0588235294117645|
|2009|          Ink (2009)|         1|               3.5|
|2010| Wolfman, The (2010)|         2|              2.25|
|2011|Friends with Kids...|         3|3.6666666666666665|
|2011|      Haywire (2011)|         3|2.8333333333333335|
|2012|Comme un chef (2012)|         1|               3.5|
|2013|Olympus Has Falle...|         8|             2.875|
|2016|   Passengers (2016)|         6|3.6666666666666665|
|2018|Game Over, Man! (...|         1|               3.0|
+----+--------------------+----------+------------------+
only showing top 100 rows